In [3]:
local_dir = '/home/neilor/SCIELO_DADOS/alacip/'

connect_cmd = "dbname='scielo_db' user='neilor' host='localhost' password='n1f2c3n1'"
%load_ext sql
%sql postgresql://neilor:n1f2c3n1@/scielo_db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: neilor@scielo_db'

In [4]:
import time
import os
import pandas as pd
import psycopg2 as pg
from pathlib import Path
from lxml import etree
from xml.etree.ElementTree import ParseError

In [25]:
query_empirico_teoricos = """
select 
    substring(scielo_id from 1 for 10) as scielo_id ,
    periodico_sigla as sigla,
    periodico_classe as grupo,
    -- sum(cast(empirico as int) ) as empirico,
    sum(cast(tem_tabela as int )) as tabela ,
    sum(cast(tem_quadro as int)) as quadro ,
    sum(cast(tem_grafico as int)) as grafico ,
    sum(cast(tem_diagrama as int)) as diagrama ,
    sum(cast(tem_figura as int)) as figura,
    count(*) as num_artigos
    from
    alacip.artigos_selecionados
    --where empirico <>'0'
    group by 
    substring(scielo_id from 1 for 10) ,
    periodico_sigla ,
    periodico_classe
    order by grupo, tabela desc
    
    ;
"""
conn = pg.connect(connect_cmd)

df = pd.read_sql(query_empirico_teoricos,conn)
df

,scielo_id,sigla,grupo,tabela,quadro,grafico,diagrama,figura,num_artigos
0,S1415-4757,Genetics and Molecular Biology,controle,1440,17,0,0,1372,1869
1,S0034-7140,RBE,controle,298,150,0,11,252,422
2,S0103-2070,Tempo Social,controle,61,280,0,12,235,521
3,S0102-0188,RBH,controle,57,302,0,7,296,522
4,S0104-9313,Mana,controle,29,188,0,20,205,389
5,S0101-3173,Trans/Form/Ação,controle,15,139,0,7,225,531
6,S0011-5258,Dados,objeto,204,344,0,8,221,523
7,S0104-6276,OP,objeto,169,140,0,9,115,308
8,S0104-4478,RevSocP,objeto,149,316,0,7,230,564
9,S0034-7329,RBPI,objeto,71,255,0,1,147,538
10,S0102-6445,Lua Nova,objeto,46,299,0,9,225,526
11,S0102-8529,Contexto Internacional,objeto,31,123,0,1,71,265
12,S0103-3352,RBCP,objeto,21,58,0,2,57,181
13,S1981-3821,BPSR,objeto,19,1,0,0,16,74