In [1]:
local_dir = '/home/neilor/scielo_db/dados'
connect_cmd = "dbname='scielo_db' user='neilor' host='localhost' password='n1f2c3n1'"
%load_ext sql
%sql postgresql://neilor:n1f2c3n1@/scielo_db
import psycopg2 as pg

In [22]:
query_create_table_bolsistas = """
drop table if exists alacip.bolsistas;
create table alacip.bolsistas 
(
nome varchar,
nivel varchar,
inicio date,
termino date,
instituicao varchar,
situacao varchar
);
"""

%sql {query_create_table_bolsistas}

Done.
Done.

[]

In [23]:
arq_csv = local_dir+'/bolsistas.csv'

copy_csv = """
COPY alacip.bolsistas FROM '%s' WITH
(
    FORMAT CSV,
    DELIMITER ';',
    NULL '#NONE',
    HEADER true,
    QUOTE '"',
    ENCODING 'UTF-8'
);
"""
%sql {copy_csv % arq_csv}

115 rows affected.

[]

In [3]:
query_add_num_artigos_em_bolsistas = """
alter table alacip.bolsistas drop column if exists num_artigos;
alter table alacip.bolsistas add column num_artigos varchar;
update alacip.bolsistas  as b 
set num_artigos = a.qtd 
from
( select nome, count(*) as qtd from alacip.artigos_selecionados
join alacip.bolsistas
on autor_1_nome like nome
or autor_2_nome like nome
or autor_3_nome like nome
or autor_4_nome like nome
or autor_5_nome like nome
or autor_6_nome like nome
or autor_7_nome like nome
or autor_8_nome like nome
or autor_9_nome like nome
or autor_10_nome like nome
group by nome
) as a
where a.nome like b.nome
;
"""

%sql {query_add_num_artigos_em_bolsistas}

Done.
Done.
70 rows affected.

[]