## CRIA TABELA COM PERIÃ“DICOS SELECIONADOS

In [9]:
connect_cmd = "dbname='scielo_db' user='neilor' host='localhost' password='n1f2c3n1'"
%load_ext sql
%sql postgresql://neilor:n1f2c3n1@/scielo_db
import psycopg2 as pg
import os

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
query_create_table_periodicos_selecionados = """
drop table if exists alacip.periodicos_selecionados;
create table alacip.periodicos_selecionados
(
    periodico_classe varchar,
    periodico_issn_scielo varchar,
    periodico_cod varchar,
    periodico_sigla varchar,
    periodico_nome varchar,
    periodico_qualis_cp varchar,
    periodico_area varchar,
    periodico_instituicao varchar,
    periodico_cod_instituicao varchar,
    periodico_cidade_da_instituicao varchar,
    periodico_cod_cidade varchar
);
"""

%sql {query_create_table_periodicos_selecionados}
 
arq_csv = os.getcwd()+'/dados/periodicos_selecionados.csv'

copy_csv = """
COPY alacip.periodicos_selecionados FROM '%s' WITH
(
    FORMAT CSV,
    DELIMITER ';',
    NULL '#NONE',
    HEADER true,
    QUOTE '"',
    ENCODING 'UTF-8'
);
"""
%sql {copy_csv % arq_csv}

Done.
Done.
14 rows affected.

[]