In [10]:
local_dir = '/home/neilor/scielo_db/dados'
connect_cmd = "dbname='scielo_db' user='neilor' host='localhost' password='n1f2c3n1'"
%load_ext sql
%sql postgresql://neilor:n1f2c3n1@/scielo_db
import psycopg2 as pg

In [14]:
query_create_table_nomes = """
drop table if exists alacip.nomes;
create table alacip.nomes
(
    nome varchar,
    sexo varchar,
    nome_normal varchar
);
"""

%sql {query_create_table_nomes}

Done.
Done.

[]

In [15]:
import os
import psycopg2 as pg
import os.path
import re

def normalizar_nome(nome):
    nome1 = nome.upper()
    nome2 = nome1.replace('Y','I')
    nome3 = nome2.replace('LL','L')
    n0 = nome3
    n1=re.sub('[Á|á|À|à|Â|â|Ã|ã|Ä|ä]','A',n0)
    n2=re.sub('[É|é|È|è|Ê|ê|Ẽ|ẽ|Ë|ë]','E',n1)
    n3=re.sub('[Í|í|Ì|ì|Î|î|Ĩ|ĩ|Ï|ï]','I',n2)
    n4=re.sub('[Ó|ó|Ò|ò|Ô|ô|Õ|õ|Ö|ö]','O',n3)
    n5=re.sub('[Ú|ú|Ù|ù|Û|û|Ũ|ũ|Ü|ü]','U',n4)
    n6=re.sub('[Ý|ý|Ỳ|ỳ|Ŷ|ŷ|Ỹ|ỹ|Ÿ|ÿ]','I',n5)
    n7=re.sub('[Ç|ç]','C',n6)
    n8=n7.upper()
    n9=n8.replace('LL','L')
    n10=n9.replace('NN','N')
    n11=n10.replace('EE','E')
    n12=n11.replace('TT','T')
    return re.sub('[\s+]', '', n12)
    

def insert_table_data(table_name,csv_file_path):


    fh = open(csv_file_path, mode='rt')
    header= fh.readline()

    conn = pg.connect(connect_cmd)

    cur = conn.cursor()

    for line in fh:
        l = line.split(';')
        nome = l[0].upper()
        sexo = l[1].replace('\n','')
        nome_normal = normalizar_nome(nome)
        
   
        
        query = "INSERT INTO {} ".format(table_name)

        query = query + " select '"+nome+"','"+sexo+"'"+", '"+nome_normal+"' "
        
        query = query + " where '"+nome+"' not in (select upper(nome) from "+table_name+" );"

        #print (query)

        try:
            cur.execute(query)
            #conn.commit()
        except:
            print("erro")
            print(query)
            conn.rollback()
 
    fh.close
    conn.commit()
    conn.close()
    print("OK")

In [16]:
insert_table_data('alacip.nomes',local_dir+'/nomes-femininos-1.csv')
insert_table_data('alacip.nomes',local_dir+'/nomes-femininos-2.csv')
insert_table_data('alacip.nomes',local_dir+'/nomes-femininos-3.csv')
insert_table_data('alacip.nomes',local_dir+'/nomes-masculinos-1.csv')
insert_table_data('alacip.nomes',local_dir+'/nomes-masculinos-3.csv')
insert_table_data('alacip.nomes',local_dir+'/nomes-masculinos-4.csv')
insert_table_data('alacip.nomes',local_dir+'/nomes-femininos-4.csv')
insert_table_data('alacip.nomes',local_dir+'/nomes-femininos-6.csv')
insert_table_data('alacip.nomes',local_dir+'/nomes-masculinos-6.csv')

OK
OK
OK
OK
OK
OK
OK
OK
OK