In [1]:
local_dir = '/home/neilor/scielo_db/dados'
connect_cmd = "dbname='scielo_db' user='neilor' host='localhost' password='n1f2c3n1'"
%load_ext sql
%sql postgresql://neilor:n1f2c3n1@/scielo_db
import psycopg2 as pg

In [6]:
query_create_table_periodicos_selecionados = """
drop table if exists alacip.periodicos_selecionados;
create table alacip.periodicos_selecionados
(
    periodico_classe varchar,
    periodico_issn_scielo varchar,
    periodico_cod varchar,
    periodico_sigla varchar,
    periodico_nome varchar,
    periodico_qualis_cp varchar,
    periodico_area varchar,
    periodico_instituicao varchar,
    periodico_cod_instituicao varchar,
    periodico_cidade_da_instituicao varchar,
    periodico_cod_cidade varchar
);
"""

%sql {query_create_table_periodicos_selecionados}

Done.
Done.

[]

In [7]:
arq_csv = local_dir+'/periodicos_selecionados.csv'

copy_csv = """
COPY alacip.periodicos_selecionados FROM '%s' WITH
(
    FORMAT CSV,
    DELIMITER ';',
    NULL '#NONE',
    HEADER true,
    QUOTE '"',
    ENCODING 'UTF-8'
);
"""
%sql {copy_csv % arq_csv}

14 rows affected.

[]

In [2]:
query_create_table_artigos_selecionados = """
drop table if exists alacip.artigos_selecionados;
create table alacip.artigos_selecionados
(
    scielo_id varchar, 
    periodico_classe varchar, 
    periodico_issn_scielo varchar, 
    periodico_ano varchar, 
    periodico_ano_capes varchar, 
    periodico_ano_capes_periodo varchar, 
    periodico_cod varchar, 
    periodico_sigla varchar, 
    periodico_qualis_na_cp varchar, 
    periodico_area varchar, 

    periodico_instituicao varchar, 
    periodico_cidade_da_instituicao varchar, 
    titulo varchar,     
    n_autores varchar, 
    n_autores_descricao varchar,     
 
    acessos_ao_html varchar, 
    acessos_ao_pdf varchar, 
    area_tematica varchar, 

    
    palavra_chave1 varchar,
    palavra_chave2 varchar,
    palavra_chave3 varchar,
    palavra_chave4 varchar,
    palavra_chave5 varchar,   
    
    bolsistas_pq varchar, 
    
    autor_1_nome varchar,
    autor_1_pq  varchar,
    autor_1_vinculo_institucional varchar,
    autor_1_sexo varchar,
    autor_1_docente varchar,

    autor_2_nome varchar,
    autor_2_pq  varchar,
    autor_2_vinculo_institucional varchar,
    autor_2_sexo varchar,
    autor_2_docente varchar,

    autor_3_nome varchar,
    autor_3_pq  varchar,
    autor_3_vinculo_institucional varchar,
    autor_3_sexo varchar,
    autor_3_docente varchar,

    autor_4_nome varchar,
    autor_4_pq  varchar,
    autor_4_vinculo_institucional varchar,
    autor_4_sexo varchar,
    autor_4_docente varchar,

    autor_5_nome varchar,
    autor_5_pq  varchar,
    autor_5_vinculo_institucional varchar,
    autor_5_sexo varchar,
    autor_5_docente varchar,

    autor_6_nome varchar,
    autor_6_pq  varchar,
    autor_6_vinculo_institucional varchar,
    autor_6_sexo varchar,
    autor_6_docente varchar,

    autor_7_nome varchar,
    autor_7_pq  varchar,
    autor_7_vinculo_institucional varchar,
    autor_7_sexo varchar,
    autor_7_docente varchar,

    autor_8_nome varchar,
    autor_8_pq  varchar,
    autor_8_vinculo_institucional varchar,
    autor_8_sexo varchar,
    autor_8_docente varchar,

    autor_9_nome varchar,
    autor_9_pq  varchar,
    autor_9_vinculo_institucional varchar,
    autor_9_sexo varchar,
    autor_9_docente varchar,

    autor_10_nome varchar,
    autor_10_pq  varchar,
    autor_10_vinculo_institucional varchar,
    autor_10_sexo varchar,
    
    resumo varchar


);
"""
    
%sql {query_create_table_artigos_selecionados}

Done.
Done.

[]

In [3]:
query_populate_alacip_artigos_selecionados= """
insert into alacip.artigos_selecionados  
select 
d.document_publishing_id_scielo	as	scielo_id,
p.periodico_classe	as	periodico_classe,
d.document_issn_scielo	as	periodico_issn_scielo,
d.document_publishing_year	as	periodico_ano,
null 	as	periodico_ano_capes,
null	as	periodico_ano_capes_periodo,
p.periodico_cod	as	periodico_cod,
p.periodico_sigla	as	periodico_sigla,
p.periodico_qualis_cp	as	periodico_qualis_na_cp,
p.periodico_area	as	periodico_area,
p.periodico_instituicao	as	periodico_instituicao,
p.periodico_cidade_da_instituicao	as	periodico_cidade_da_instituicao,
null	as	titulo,
d.document_authors	as	n_autores,
null	as	n_autores_descricao,
null	as	acessos_ao_html,
null	as	acessos_ao_pdf,
null	as	area_tematica,

null	as	palavra_chave1,
null	as	palavra_chave2,
null	as	palavra_chave3,
null	as	palavra_chave4,
null	as	palavra_chave5,
null	as	bolsistas_pq,
null	as	autor_1_nome,
null	as	autor_1_pq,
null	as	autor_1_vinculo_institucional,
null	as	autor_1_sexo,
null	as	autor_1_docente,
null	as	autor_2_nome,
null	as	autor_2_pq,
null	as	autor_2_vinculo_institucional,
null	as	autor_2_sexo,
null	as	autor_2_docente,
null	as	autor_3_nome,
null	as	autor_3_pq,
null	as	autor_3_vinculo_institucional,
null	as	autor_3_sexo,
null	as	autor_3_docente,
null	as	autor_4_nome,
null	as	autor_4_pq,
null	as	autor_4_vinculo_institucional,
null	as	autor_4_sexo,
null	as	autor_4_docente,
null	as	autor_5_nome,
null	as	autor_5_pq,
null    as	autor_5_vinculo_institucional,
null	as	autor_5_sexo,
null	as	autor_5_docente,
null	as	autor_6_nome,
null	as	autor_6_pq,
null	as	autor_6_vinculo_institucional,
null	as	autor_6_sexo,
null	as	autor_6_docente,
null	as	autor_7_nome,
null	as	autor_7_pq,
null	as	autor_7_vinculo_institucional,
null	as	autor_7_sexo,
null	as	autor_7_docente,
null	as	autor_8_nome,
null	as	autor_8_pq,
null	as	autor_8_vinculo_institucional,
null	as	autor_8_sexo,
null	as	autor_8_docente,
null	as	autor_9_nome,
null	as	autor_9_pq,
null	as	autor_9_vinculo_institucional,
null	as	autor_9_sexo,
null	as	autor_9_docente,
null	as	autor_10_nome,
null	as	autor_10_pq,
null	as	autor_10_vinculo_institucional,
null	as	autor_10_sexo,
null	as	resumo

FROM 
  alacip.periodicos_selecionados as p
left join
  public.documents_counts as d
on
  d.document_publishing_year in 
    (
    '2013','2014','2015','2016'
    ,'2010','2011','2012'
    ,'2007','2008','2009'
    ,'2004','2005','2006'
    ,'2001','2002','2003'
    ,'1998','1999','2000'
    ,'1995','1996','1997'
    ) 
AND 
  d.document_issn_scielo = p.periodico_issn_scielo
AND
  d.document_type like 'research-article'
;

create index scielo_idx on alacip.artigos_selecionados(scielo_id);
"""

%sql {query_populate_alacip_artigos_selecionados}

7200 rows affected.
Done.

[]

In [4]:
query_update_ano_capes = """
update alacip.artigos_selecionados
set periodico_ano_capes =
  CASE WHEN periodico_ano in ('2013','2014','2015','2016') THEN '1'
       WHEN periodico_ano in ('2010','2011','2012') THEN '2'
       WHEN periodico_ano in ('2007','2008','2009') THEN '3' 
       WHEN periodico_ano in ('2004','2005','2006') THEN '4'
       WHEN periodico_ano in ('2001','2002','2003') THEN '5'
       WHEN periodico_ano in ('1998','1999','2000') THEN '6'  
       WHEN periodico_ano in ('1995','1996','1997') THEN '7'  
  END
;
"""

%sql {query_update_ano_capes}

query_update_ano_capes_periodo = """
update alacip.artigos_selecionados
set periodico_ano_capes_periodo =
  CASE WHEN periodico_ano in ('2013','2014','2015','2016') THEN '2013,2014,2015,2016'
       WHEN periodico_ano in ('2010','2011','2012') THEN '2010,2011,2012'
       WHEN periodico_ano in ('2007','2008','2009') THEN '2007,2008,2009' 
       WHEN periodico_ano in ('2004','2005','2006') THEN '2004,2005,2006'
       WHEN periodico_ano in ('2001','2002','2003') THEN '2001,2002,2003'
       WHEN periodico_ano in ('1998','1999','2000') THEN '1998,1999,2000'  
       WHEN periodico_ano in ('1995','1996','1997') THEN '1995,1996,1997'  
  END
;
"""

%sql {query_update_ano_capes_periodo}

7200 rows affected.
7200 rows affected.

[]

In [5]:
query_update_n_autores_descricao = """
update alacip.artigos_selecionados
set n_autores_descricao =
  CASE WHEN n_autores like '1' THEN 'um autor'
       WHEN n_autores like '2' THEN 'dois autores' 
       WHEN n_autores like '3' THEN 'três autores'
       WHEN n_autores like '4' THEN 'quatro autores'
       WHEN n_autores like '5' THEN 'cinco autores'
       WHEN n_autores like '6' THEN 'seis autores'
       WHEN n_autores like '7' THEN 'sete autores'
       WHEN n_autores like '8' THEN 'oito autores'
       WHEN n_autores like '9' THEN 'nove autores'
       WHEN n_autores like '10' THEN 'dez autores'
       WHEN n_autores like null  THEN 'não definido'
       WHEN n_autores like ' '  THEN 'não definido'
       WHEN n_autores like '0'  THEN 'não definido'
       ELSE 'mais de dez autores'
  END
;
"""

%sql{query_update_n_autores_descricao}

print("OK")

7200 rows affected.
OK

In [5]:
query_create_coluna_link_html = """
alter table alacip.artigos_selecionados drop column if exists link_html;
alter table alacip.artigos_selecionados add column link_html varchar;
update alacip.artigos_selecionados
set link_html = 'http://www.scielo.br/scielo.php?script=sci_arttext&pid='||scielo_id||'&lng=pt'
;
"""

%sql {query_create_coluna_link_html}

Done.
Done.
7200 rows affected.

[]