In [1]:
local_dir = '/home/neilor/scielo_db/dados'
connect_cmd = "dbname='scielo_db' user='neilor' host='localhost' password='n1f2c3n1'"
%load_ext sql
%sql postgresql://neilor:n1f2c3n1@/scielo_db
import psycopg2 as pg

In [8]:
import re
def normalizar_nome(nome):
    if nome != None:
        nome1 = nome.upper()
        nome2 = nome1.replace('Y','I')
        nome3 = nome2.replace('LL','L')
        n0 = nome3
        n1=re.sub('[Á|á|À|à|Â|â|Ã|ã|Ä|ä]','A',n0)
        n2=re.sub('[É|é|È|è|Ê|ê|Ẽ|ẽ|Ë|ë]','E',n1)
        n3=re.sub('[Í|í|Ì|ì|Î|î|Ĩ|ĩ|Ï|ï]','I',n2)
        n4=re.sub('[Ó|ó|Ò|ò|Ô|ô|Õ|õ|Ö|ö]','O',n3)
        n5=re.sub('[Ú|ú|Ù|ù|Û|û|Ũ|ũ|Ü|ü]','U',n4)
        n6=re.sub('[Ý|ý|Ỳ|ỳ|Ŷ|ŷ|Ỹ|ỹ|Ÿ|ÿ]','I',n5)
        n7=re.sub('[Ç|ç]','C',n6)
        n8=n7.upper()
        n9=n8.replace('LL','L')
        n10=n9.replace('TT','T')
        n11=n10.replace('AA','A')
        n12=n11.replace('MM','M')
        n13=n12.replace('NN','N')
        n14=n13.replace('RR','R')
        n15=n14.replace('SS','S')
        n16=n15.replace('BB','B')
        n17=n16.replace('EE','E')
        n18=n17.replace('DD','D')
        n19=n18.replace('HH','H')
        return re.sub('[\s+]', '', n19)
    else:
        return nome

In [24]:
query_create_table_autores_selecionados = """
drop table if exists alacip.autores_selecionados;
create table alacip.autores_selecionados
(
    artigo_scielo_id       varchar,
    autor_nome_completo    varchar,
    autor_sobrenome        varchar,
    autor_nome             varchar,
    autor_nome_normal      varchar,
    autor_sexo             varchar,
    autor_instituicao      varchar,
    autor_cidade_instituicao    varchar,
    autor_pq varchar
);
"""
    
%sql {query_create_table_autores_selecionados}


query_populate_autores_selecionados = """
insert into alacip.autores_selecionados 
(
artigo_scielo_id,
autor_nome_completo,
autor_sobrenome,
autor_nome,
autor_nome_normal,
autor_sexo,
autor_instituicao,
autor_cidade_instituicao,
autor_pq
)
select
    document_publishing_id_scielo     as    artigo_scielo_id,
    document_author                   as    autor_nome_completo,
    '#NONE'                              as    autor_sobrenome,
    trim(split_part(document_author, ' ', 1))  as    autor_nome,
    '#NONE'  as    autor_nome_normal,
    '#NONE'                              as    autor_sexo,
    max(document_author_institution)  as    autor_instituicao,
    max(document_author_affiliation_city)    as    autor_cidade_instituicao,
    '#NONE' as autor_pq
from
    documents_authors
where
    document_publishing_id_scielo 
    in (select scielo_id from alacip.artigos_selecionados)
group by
    artigo_scielo_id,
    autor_nome_completo
    --autor_instituicao,
    --autor_cidade_instituicao
order by
    autor_nome_completo,
    autor_instituicao,
    autor_cidade_instituicao
;
"""
    
%sql {query_populate_autores_selecionados }

Done.
Done.
15830 rows affected.

[]

### atualiza sexo em autores_selecionados

In [25]:
def get_sql_update_autor_nome_normal(autor_nome_completo,autor_nome_normal,scielo_id):
    sql = "update alacip.autores_selecionados as a set autor_nome_normal = " \
    +"'"+autor_nome_normal+"'" \
    +" WHERE artigo_scielo_id like " \
    +"'"+scielo_id+"'" \
    +" AND autor_nome_completo = " \
    +"'"+autor_nome_completo+"'" \
    +";"
    return sql

#sql = "update alacip.autores_selecionados as a set autor_nome_normal = '"+autor_nome_normal+"' WHERE CURRENT OF cursor;"
   

conn=pg.connect(connect_cmd)
cursor = conn.cursor()
cursor.execute('select artigo_scielo_id, autor_nome_completo, autor_nome from alacip.autores_selecionados;')
rows=cursor.fetchall()
for row in rows:
    scielo_id = row[0]
    autor_nome_completo = row[1]
    autor_nome = row[2]
    autor_nome_normal = normalizar_nome(autor_nome)
    if autor_nome != None:
        #print(get_sql_update_autor_nome_normal(autor_nome_completo,autor_nome_normal, scielo_id))
        #cursor.execute(sql)
        cursor.execute(get_sql_update_autor_nome_normal(autor_nome_completo,autor_nome_normal, scielo_id))
        conn.commit()
print("OK")

OK

In [26]:
query_update_sexo_M_em_todos_autores_selecionados = """
update alacip.autores_selecionados as a
    set autor_sexo = '#NONE';
    
update alacip.autores_selecionados as a
    set autor_sexo = 'M'
from alacip.nomes as n
    where upper(trim(n.nome_normal)) like upper(trim(split_part(a.autor_nome_normal, ' ', 1)))
    and n.sexo like 'M';
"""

query_update_sexo_F_em_autores_selecionados = """
update alacip.autores_selecionados as a
    set autor_sexo = 'F'
from alacip.nomes as n
    where upper(trim(n.nome_normal)) like upper(trim(split_part(a.autor_nome_normal, ' ', 1)))
    and n.sexo like 'F'
"""

query_update_sexo_X_em_autores_F_selecionados = """
update alacip.autores_selecionados as a
    set autor_sexo = 'X'
from alacip.nomes as n
    where upper(trim(n.nome_normal)) like upper(trim(split_part(a.autor_nome_normal, ' ', 1)))
    and n.sexo like 'M'
    and a.autor_sexo like 'F'
"""

query_update_sexo_X_em_autores_M_selecionados = """
update alacip.autores_selecionados as a
    set autor_sexo = 'X'
from alacip.nomes as n
    where upper(trim(n.nome_normal)) like upper(trim(split_part(a.autor_nome_normal, ' ', 1)))
    and n.sexo like 'F'
    and a.autor_sexo like 'M'
"""
%sql {query_update_sexo_M_em_todos_autores_selecionados}

%sql {query_update_sexo_F_em_autores_selecionados}

%sql {query_update_sexo_X_em_autores_F_selecionados}

%sql {query_update_sexo_X_em_autores_M_selecionados}

15830 rows affected.
7679 rows affected.
4831 rows affected.
60 rows affected.
0 rows affected.

[]

### Atualiza Autores (nome, instituicao, sexo) em artigos_selecionados

In [8]:
def get_sql_update_autor_nome(num, nome, scielo_id):
    sql = "update alacip.artigos_selecionados " \
    +"set autor_"+num+"_nome = '"+nome+"'" \
    +" where scielo_id like '"+scielo_id+"';"
    return sql

def get_sql_update_autor_instituicao(num, instituicao, scielo_id):
    sql = "update alacip.artigos_selecionados " \
    +" set autor_"+num+"_vinculo_institucional = '"+instituicao+"'"  \
    +" where scielo_id like '"+scielo_id+"';"
    return sql

def get_sql_update_autor_sexo(num, sexo, scielo_id):
    sql = "update alacip.artigos_selecionados " \
    +" set autor_"+num+"_sexo = '"+sexo+"'"  \
    +" where scielo_id like '"+scielo_id+"';"
    return sql

def update_autores(id,conn):
    sql = "SELECT autor_nome_completo,autor_instituicao, autor_sexo \
    FROM alacip.autores_selecionados     \
    where artigo_scielo_id like '"+id+"';"

    autores = conn.cursor()
    autores.execute(sql)

    i=1
    for autor in autores:
        if i<11:
            nome = autor[0]
            instituicao = autor[1]
            sexo = autor[2]

            if nome != None:
                nome = nome.replace("'", "''")
                atu_nome = get_sql_update_autor_nome(str(i),nome, id)
                with conn:
                    with conn.cursor() as curs:
                        curs.execute(atu_nome)
            if instituicao != None:
                instituicao = instituicao.replace("'", "''")
                atu_instituicao = get_sql_update_autor_instituicao(str(i),instituicao, id)
                with conn:
                    with conn.cursor() as curs:
                        curs.execute(atu_instituicao)
            if sexo != None:
                atu_sexo = get_sql_update_autor_sexo(str(i),sexo, id)
                with conn:
                    with conn.cursor() as curs:
                        curs.execute(atu_sexo)  
                        
            i=i+1
        
    autores.close()

    
conn = pg.connect("dbname='scielo_db' user='neilor' host='localhost' password='n1f2c3n1'")
cursor = conn.cursor()
cursor.execute("select scielo_id from alacip.artigos_selecionados;")

for scielo_id in cursor:
    update_autores(scielo_id[0],conn)

cursor.close()
conn.close()   

print( " ATUALIZADOS AUTOR INSTITUICAO E SEXO")    


#print(get_lista_autores('S1415-47571998000100002'))

 ATUALIZADOS AUTOR INSTITUICAO

### ATUALIZA AUTORES BOLSISTAS EM artigos_selecionados

In [ ]:
def get_sql_clear_bolsista(num):
    sql = "update alacip.artigos_selecionados  as a" \
    +" set autor_"+str(num)+"_pq = '0'" \
    +"     , bolsistas_pq = '0' " \
    +" ;"  
    return sql

def get_sql_update_bolsista(num):
    sql = "update alacip.artigos_selecionados  as a" \
    +" set autor_"+str(num)+"_pq = '1' " \
    +"     , bolsistas_pq = cast((cast(bolsistas_pq as int)+1) as varchar) " \
    +" from alacip.bolsistas as b" \
    +" where upper(a.autor_"+str(num)+"_nome) in (select upper(nome) from alacip.bolsistas)" \
    +" and  a.artigo_ano >= cast(extract('year' from b.inicio) as varchar)" \
    +" and  a.artigo_ano <= cast(extract('year' from b.termino) as varchar)" \
    +";"  
    return sql

for n in range(1,11):
    %sql {get_sql_clear_bolsista(n)}

for n in range(1,11):
    %sql {get_sql_update_bolsista(n)}